#
# Copyright (C) 2024 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#
[Unit]
Description= import emails to piler

[Service]
ExecStart=/usr/local/bin/runagent import-emails
ExectStartPost=/usr/bin/touch sync2pilerdone
Type=simple
