#
# Copyright (C) 2024 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#
[Unit]
Description=Import emails to Piler
ConditionPathExists=!%S/state/sync2pilerdone

[Service]
ExecStart=/usr/local/bin/runagent import-emails
ExecStart=/usr/bin/touch %S/state/sync2pilerdone
Type=oneshot
