#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman mariadb-app.service
BindsTo=piler.service
After=piler.service
Before=piler-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/rm -f %t/mariadb-app.pid %t/mariadb-app.ctr-id
ExecStart=/usr/bin/podman run --conmon-pidfile %t/mariadb-app.pid \
    --cidfile %t/mariadb-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/piler.pod-id --replace -d --name mariadb-app \
    --env-file=%S/state/environment \
    --volume ./mariadb/piler.cnf:/etc/mysql/conf.d/piler.cnf:Z \
    --volume mysql-data:/var/lib/mysql/:z \
    --env MARIADB_ROOT_PASSWORD=Nethesis,1234 \
    --env MARIADB_DATABASE=piler \
    --env MARIADB_USER=piler \
    --env MARIADB_PASSWORD=piler \
    --env MARIADB_AUTO_UPGRADE=1 \
    ${MARIADB_IMAGE} \
    --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
ExecStartPost=/usr/bin/podman exec  mariadb-app /bin/bash -c 'printf "[client] \npassword=Nethesis,1234" > /root/.my.cnf'
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/mariadb-app.ctr-id -t 10
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/mariadb-app.ctr-id
ExecReload=/usr/bin/podman kill -s HUP mariadb-app
SyslogIdentifier=%u
PIDFile=%t/mariadb-app.pid
Type=forking

[Install]
WantedBy=default.target
