#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  piler-app.service
BindsTo=piler.service
After=piler.service mariadb-app.service memcached-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p %S/state/piler_etc
ExecStartPre=/usr/local/bin/runagent expand-configuration
ExecStartPre=/bin/rm -f %t/piler-app.pid %t/piler-app.ctr-id
ExecStart=/usr/bin/podman run --conmon-pidfile %t/piler-app.pid \
    --cidfile %t/piler-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/piler.pod-id --replace -d --name  piler-app \
    --volume %S/state/piler_etc/config-site.php:/etc/piler/config-site.php:Z \
    --volume %S/state/piler_etc/piler.conf:/etc/piler/piler.conf:Z \
    --volume piler_etc:/etc/piler:Z \
    --volume piler_store:/var/piler/store:Z \
    --env MYSQL_DATABASE=piler \
    --env MYSQL_USER=piler \
    --env MYSQL_PASSWORD=piler \
    --env MYSQL_HOSTNAME=127.0.0.1 \
    --env PILER_HOSTNAME=${TRAEFIK_HOST} \
    --env MEMCACHED_HOSTNAME=127.0.0.1 \
    --env MANTICORE_HOSTNAME=127.0.0.1 \
    ${PILER_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/piler-app.ctr-id -t 10
ExecReload=/usr/local/bin/runagent expand-configuration
ExecReload=/usr/bin/podman kill -s HUP piler-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/piler-app.ctr-id
PIDFile=%t/piler-app.pid
Type=forking

[Install]
WantedBy=default.target